[flake8]
# Игнорируем файлы миграций Django и автогенерируемые файлы
exclude =
    */migrations/*,
    */__pycache__/*,
    */manage.py,
    */settings.py,
    venv/,
    env/

# Игнорируем некритичные ошибки
ignore =
    W503,   # line break before binary operator
    F401,   # imported but unused
    W291,   # trailing whitespace
    W292,   # no newline at end of file
    W293,   # blank line contains whitespace
    E303,   # too many blank lines

# Увеличиваем максимальную длину строки
max-line-length = 120
